http {
    proxy_cache_path /home/ubuntu/cache levels=1:2 keys_zone=my_cache:10m max_size=5g inactive=60m use_temp_path=off;
    upstream myapp1 {
        server 3.84.182.153;
    }

    server {
        listen 80 default_server;
        location / {
            proxy_cache my_cache;
            proxy_cache_valid 200 302 10m;
            proxy_cache_valid 404      1m;
            proxy_cache_revalidate on;
            proxy_cache_lock on;
            proxy_pass http://myapp1;
        }
        location /loaderio-e6f0c1ed95cffdb0ec54deea46688717 {
        return 200 'loaderio-e6f0c1ed95cffdb0ec54deea46688717';
      }
    }
}